h3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.Services__Skills > p {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 1rem;
 margin-bottom: 2rem;
}

.container__services{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 4rem;

}
.card.service {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.service__icon{
  background: var(--color-primary);
  padding: 0.6rem;
  border-radius: var(--border-radius-3);
  font-size: 1.5rem;
  color: var(--color-white);
  transform: var(--transition);

}