/* Styles for services section main container */
.services__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

/* Styles for paragraphs inside services section */
.services__main p {
  text-align: justify;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

/* Styles for cards container */
.services__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 4rem;
  margin-bottom: 2rem;
}

/* Styles for individual service cards */
.services__card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

/* Styles for service icons */
.services__icon {
  background: var(--color-primary);
  padding: 0.6rem;
  border-radius: var(--border-radius-3);
  font-size: 1.5rem;
  color: var(--color-white);
  transform: var(--transition);
  margin-top: 1rem;
}

/* Hover styles for service icons */
.services__card:hover .services__icon {
  font-size: 2rem;
  transition: var(--transition);
  background: var(--color-light);
  color: var(--color-primary);
}

/* Styles for service title */
.container__services h4 {
  margin-bottom: 0.7rem;
}

/* Hover styles for service title */
.container__services h4:hover {
  transition: var(--transition);
  font-size: x-large;
  color: var(--color-primary);
  text-decoration: underline;
}

/* Styles for paragraphs inside services container */
.container__services p {
  text-align: justify;
}

/* Styles for skills section main container */
.skills__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

/* Styles for paragraphs inside skills section */
.skills__main p {
  text-align: justify;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

/* Styles for skills cards container */
.skills__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 4rem 4rem;
}

/* Styles for individual skill cards */
.skills__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.4rem;
}

/* Styles for skill icons */
.skills__icon {
  background: var(--color-primary);
  padding: 0.5rem;
  border-radius: var(--border-radius-3);
  font-size: 2rem;
  color: var(--color-white);
  transition: var(--transition);
  margin: 0.5rem;
}

/* Hover styles for skill icons */
.skills__card:hover .skills__icon {
  transition: var(--transition);
  background: var(--color-light);
  color: var(--color-primary);
  font-size: 3rem;
}

/* Styles for skill title */
.skills__details h4 {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Hover styles for skill title */
.skills__details h4:hover {
  transition: var(--transition);
  color: var(--color-primary);
  text-decoration: underline;
  font-size: 1.3rem;
}

/* Media queries for tablet screens */
@media screen and (max-width: 1024px) {
  .services__cards {
    gap: 2rem 2rem;
  }
  .skills__cards {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem 3rem;
  }
}

/* Media queries for phones */
@media screen and (max-width: 600px) {
  .services__cards {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .skills__cards {
    grid-template-columns: 1fr 1fr;
    gap: 2rem 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
