/* Styling for the navigation */
nav {
  width: 100vw;
  height: 5rem;
  display: grid;
  place-items: center;
  background: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  box-shadow: 0 1rem 1.5rem hsla(var(--primary-hue), 68%, 42%, 20%);
  transition: var(--transition);
}

/* Styling for the navigation container */
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styling for the logo */
.nav__logo {
  width: 2.7rem;
  border-radius: 50%;
  overflow: hidden;
}

/* Styling for the menu */
.nav__menu {
  font-size: medium;
  display: flex;
  gap: 3.5rem;
}

/* Styling for menu links */
.nav__menu a {
  color: white;
}

/* Styling for the theme icon button */
#theme__icon {
  background: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

/* Hide nav menu on tablets and phones */
@media screen and (max-width: 1024px) {
  .nav__menu {
    display: none;
  }
  .nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
